.asterisk::after {
  content: "*";
  color: red;
}

.row {
  margin: 25px;
}

.page {
  margin-top: 20px;
  background-color: lightgray;
  border-style: solid;
}

label.error {
  color: red;
  font-size: 13px;
}

.error {
  color: red;
}

.text {
  color: red;
}

.submit {
  border: none;
  color: black;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -15px;

}

.textfield {
  padding: 6px;
  margin-top: 9px;
}

.txt {
  padding: 15px;
}

.display_Table {
  border: 2px solid black;
  border-collapse: collapse;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 80%;
}

td {
  border: 1px solid #dddddd;
  ;
  text-align: center;
  padding: 8px;
}

.set {
  font-size: 12px;
  padding-left: 14px;
}